body {
    margin: 0;
    padding: 0;
    background-image: url(img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.right-triangle {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #a01d26;
	border-bottom: 10px solid transparent;
}
header {
    color: #a01d26;
    padding: 20px;
}
header a {
    color: #f4f4ef;
    text-decoration: none;
    font-size: 20px;
    background: #a01d26;
    padding: 10px;
}
header a:hover {
    color: #a01d26;
    background: #f4f4ef;
}
/* header button:hover {
    color: #f4eade;
    background: #edac72;
} */
header ul {
    margin: 0;
    padding: 0;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand-name {
    float: left;
}
header #brand-name h1 {
    margin: 0;
    font-size: 40px;
}
header nav {
    float: right;
    margin-top: 10px;
}
#form-container {
    width: 300px;
	height: 350px;
	transform: skew(348deg);
    border-left: 5px solid #acbebe;
    border-bottom: 5px solid #acbebe;
    padding: 10px;
    margin: 70px;
    background: #f4f4ef;
    float: left;
}
input[type=text], input[type=password], input[type=email], input[type=submit] {
    width: 90%;
    padding: 10px;
    margin: 5px 5px 10px 0;
    display: inline-block;
}
input[type=submit] {
    width: 70%;
    padding: 10px;
    margin: 5px 5px 10px 0;
    display: inline-block;
    background: #acbebe;
}
input[type=submit]:hover {
    color: #f4f4ef;
    background-color: #a01d26;
}
h3 {
    color: #f4f4ef;
    line-height: 1.5em;
}
#intro {
    width: 300px;
    float: right;
    text-align: center;
    margin-top: 60px;
}
