body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background-image: url(img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.right-triangle {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #acbebe;
	border-bottom: 10px solid transparent;
}
header {
    color: #a01d26;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
header a {
    color: #f4f4ef;
    text-decoration: none;
    font-size: 18px;
    background: #a01d26;
    padding: 10px;
}
header a:hover {
    color: #a01d26;
    background: #f4f4ef;
}

header ul {
    margin: 0;
    padding: 0;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand-name {
    align-self: flex-start;
}
header #brand-name h1 {
    margin: 0;
    font-size: 40px;
}
header nav {
    align-self: flex-end;
    margin-top: 10px;
}
/* #landing {
    display: flex;
    flex-direction: column;
} */
#form-container {
    width: 300px;
	height: 350px;
	transform: skew(348deg);
    border-left: 5px solid #acbebe;
    border-bottom: 5px solid #acbebe;
    padding: 10px;
    margin: 70px;
    background: #f4f4ef;
    float: left;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 90%;
    padding: 10px;
    margin: 5px 5px 10px 0;
    display: inline-block;
}
input[type=submit] {
    width: 50%;
    padding: 10px;
    margin: 5px 5px 10px 0;
    display: inline-block;
    background: #acbebe;
}
input[type=submit]:hover {
    color: #f4f4ef;
    background-color: #a01d26;
}
h3 {
    color: #f4f4ef;
    line-height: 1.5em;
}
#intro {
    width: 300px;
    float: right;
    text-align: center;
    margin-top: 60px;
}
a {
    color: #a01d26;
}
footer {
    text-align: center;
    background: #a01d26;
    color: #f4f4ef;
    margin-top: 10px;
    padding: 5px;
}
#signUpForm-container {
    display: flex;
    flex-direction: column;
    
}
#signUp-form {
    width: 50%;
    padding: 0 10px 0 10px;
    margin: 0 5px 5px 5px;
    background: #20232a;
    opacity: 0.8;
    align-self: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



@media screen and (max-width: 760px) {
    .right-triangle {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #a01d26;
        border-bottom: 5px solid transparent;
    }
    header a {
        font-size: 12px;
    }
    header #brand-name h1 {
        font-size: 20px;
        font-weight: bold;
    }
    h3 {
        line-height: 1.0em;
    }
    #form-container,
    #intro {
        float: none;
        width: 80%;
        transform: skew(360deg);
        margin: 20px;

    }
    header nav {
        align-self: flex-end;
    }


}